body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    background-color: #faac53;
    color: #333;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid #faac53;
    border-radius: 10px;    
}

button:hover {
    background-color: #ffffff;
    border: 2px solid #faac53;
}

.createButton {
    background-color: #faac53;
    border-radius: 10px;
    font-size: 18px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.textLeft {
    text-align: left;
}

th {
    background-color: #faac53;
    color: #333;
    padding: 15px;
    text-align: center;
}

.tableHeaderLeft {
    border-radius: 10px 0 0 0;
}

.tableHeaderRight {
    border-radius: 0 10px 0 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d1e7fd;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

h2 {
    text-align: center;
}

.divTable {
    margin-left: 100px;
}

.divForm {
    width: 35%;
    margin-right: 100px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 50px;
    height: fit-content;
}

form {
    display: flex;
    flex-direction: column;
}

.rowButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.editLibrary {
    margin-right: 10px;
}